.offer-section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin: 32px auto;
    max-width: 506px;
}

.offer-section-image {
    background: url('../assets/img/goods/Background.png') no-repeat;
    width: 100%;
    height: 372px;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.offer-section-image::after {
    content: '';
    position: absolute;
    background-image: url('../assets/img/goods/low-price.svg');
    width: 162px;
    height: 122px;
    top: 5%;
    left: 22%;
}

.offers {
    background-color: var(--bannerBackground);
}

.offer-section-content {
    padding-top: 52px;
}

.offer-section-content h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

.products-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 65px 40px 0;
    
}

.products-search h1 {
    font-weight: 500;
    font-size: 27px;
    line-height: 50px;
}