.header {
    background-color: var(--secondColor);
    color: var(--secondTextColor);
}

header .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
}

header ul.nav-list {
    display: flex;
}

header ul.nav-list a {
    color: var(--secondTextColor);
    padding: 0 45px 0 0;
    text-transform: uppercase;
    transition: opacity 500ms ease;
}

header ul.nav-list a:hover{
    opacity: 0.5;
}

.header-menu__tools a {
    padding-left: 60px;
}