.home {
    &__products-search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 40px 50px;
    }
    &__products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 40px;
        row-gap: 40px;
    }
}
