.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
    left: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
	position: absolute;
	left: 40px;
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    border-radius: 5px;
}

.search:focus {
	width: 305px;
}

.expandright {
	left: auto;
	right: 0px;
}

.expandright:focus {
	padding: 20px 16px;
}

.clearIcon {
    width: 18px;
    height: 18px;
    opacity: 0.3;
    position: absolute;
    right: 10px;
    z-index: 20;
    top: 4px;
    outline: none;
    cursor: pointer;
}

.clearIcon:hover {
    opacity: 0.8;
}
