.cart-item {
	display: flex;
	justify-content: flex-start;
    align-items: center;
    padding: 15px 0px;
}

.cart-item__image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item__about {
    width: calc(60% - 73px);
    margin: 0;
}

.cart-item__product-column {
    width: calc(100% - 129px);
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 30px;
}

.сart-item__title {
    font-size: 17px;
    font-weight: 500;
    color: #202020;
}

.cart-item__counter {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 10px;
}

.cart-item__btn {
    width: 40px;
    height: 40px;
    border: 1px solid #ebebeb;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans';
}

.сart-item__count {
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
}

.cart-item__prices {
    height: 100%;
    text-align: right;
    display: flex;
    column-gap: 10px;
}

.сart-item__amount {
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}

.сart-item__save {
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
}

.сart-item__remove {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}


.сart-item__subtotal {
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #202020;
}

.items {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.сart-item__total-amount {
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
}
